<!DOCTYPE html>
<html>
<head>
  <title>Task</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "highcharts/highcharts" %>
  <%= csrf_meta_tags %>
</head>
<body>


<div id="user_nav">
  <% if current_user %>
    Logged in as <%= current_user.name %>.
    <%= link_to "Log out", log_out_path %><br>
    <%= link_to "Users", users_path %>
    <div style="display:none;">
      <%= form_for(@current_user, method: "put") do |f| %>
      <%= f.text_field :latitude %>
      <%= f.text_field :longitude %>
      <%= f.button :submit %>
      <% end %>
    </div>
  <% else %>
    <%#= link_to "log in", log_in_path %>
  <% end %>
</div>

<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>

<%= yield %>

<% if @current_user && @current_user.role == "Data Collection Exec" %>
  <script>
    function updateCurrentLocation(){
    navigator.geolocation.getCurrentPosition(function(position) {
      var c = position.coords
      var location = c.latitude +", "+ c.longitude
      $("#user_latitude").val(c.latitude)
      $("#user_longitude").val( c.longitude)
      var data = $(".edit_user").serialize();
      $.ajax({
        type: "PUT",
        url: $(".edit_user").attr("action"),
        data: data,
        success: function(data) {
          console.log('working: '+data);
        },
        error: function(msg) {
          console.log('not working '+msg);
        }
      });
    });
  }
  setInterval(updateCurrentLocation, 10000)
  </script>
<% end %>  
</body>
</html>
